# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0ad12304d142fa65da57098421c6a42963c4ecb407a943bf379979aa9919a115bf64d79f8eeff2dfd5ef2ae1d7b14b1d1e6eed54f48db6c9e86e987ce2bc1167

test:
  secret_key_base: 75785fe1d21273590946e093179846b04ea25873baaac62f9bcc9efa6b2e74dd5029d815294e7d0d03341021f45c37a9256c010f2815926161771233f28c7a90

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
